{% extends "base.html" %} {% block contant %}
<style>
  body {
    background-color: #f4f4f4; /* สีพื้นหลังเทาอ่อน */
    color: #333; /* สีข้อความเทาเข้ม */
    font-family: Arial, sans-serif;
  }

  h1 {
    color: #222; /* สีข้อความหัวข้อเทาเข้มมาก */
    text-align: center;
    margin-top: 50px;
  }

  h5 {
    color: #555; /* สีข้อความหัวข้อย่อยเทากลาง */
    text-align: center;
  }

  p {
    background-color: #fff; /* สีพื้นหลังข้อความขาว */
    border: 1px solid #ddd; /* ขอบสีเทาอ่อน */
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
  }
</style>

<h1>เกี่ยวกับฉัน</h1>
<h5>ชื่อ : กาฟิว</h5>
<p>
  กาฟิว คือชื่อที่ไม่เพียงแค่เรียกง่าย
  แต่ยังเป็นสัญลักษณ์ของนวัตกรรมและความเป็นเลิศในสาขาวิทยาการคอมพิวเตอร์
  เขาคือผู้บุกเบิกเทคโนโลยีที่มีบทบาทสำคัญในการเปลี่ยนแปลงโลกดิจิทัล
  ผ่านการพัฒนาและออกแบบซอฟต์แวร์ที่ทันสมัยและปฏิวัติวงการ
</p>
<p>
  ด้วยความมุ่งมั่นในการสร้างสรรค์และการค้นคว้าที่ยิ่งใหญ่
  กาฟิวได้พัฒนาอัลกอริธึมและระบบที่สร้างผลกระทบในหลายภาคส่วน
  ตั้งแต่การปรับปรุงการทำงานขององค์กรไปจนถึงการสร้างโซลูชันที่ล้ำสมัยสำหรับปัญหาในชีวิตประจำวัน
</p>
<p>
  ไม่เพียงแต่เป็นนักพัฒนาที่โดดเด่น
  กาฟิวยังเป็นอาจารย์ที่ได้รับการยอมรับในระดับนานาชาติ
  เขามีความสามารถในการถ่ายทอดความรู้และแรงบันดาลใจให้กับนักเรียนและนักวิจัยรุ่นใหม่
  ช่วยพัฒนาความสามารถและความคิดสร้างสรรค์ของพวกเขาให้สามารถก้าวไปข้างหน้าในโลกของเทคโนโลยี
</p>
<p>
  ในฐานะที่เป็นผู้นำทางความคิด
  กาฟิวมีวิสัยทัศน์ที่กว้างไกลเกี่ยวกับอนาคตของเทคโนโลยี
  เขายังคงเดินหน้าสร้างสรรค์โครงการที่ช่วยยกระดับมาตรฐานและนำเสนอแนวทางใหม่ๆ
  สำหรับการแก้ปัญหาที่ซับซ้อน เขาไม่เพียงแต่เป็นนักคิดที่ยิ่งใหญ่
  แต่ยังเป็นแรงบันดาลใจที่สำคัญในการสร้างอนาคตที่ดีกว่า
</p>
{% endblock contant %}
