{% extends "base.html" %}
<!---- >
{% block contant %}
<div class="row">
  {% for i in list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t39.30808-6/454735954_18246271483267314_262339115640087937_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEA-Cyo4oGoJme4u8ZGecUdhfRfeo9ZAIaF9F96j1kAhq67hHplBVTF6dues6YTjq9ZTBQOhksTIcDhMT_feJr7&_nc_ohc=bryKjALr6dwQ7kNvgEqpkOm&_nc_ht=scontent-bkk1-1.xx&oh=00_AYBba99rWikniDEdBRHkEbW4HbNN0yyH-QIiMqfDU_i1hg&oe=66C11D0A" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">Few Kittinan</h5>
          <p class="card-text">INSTRAGRAM</p>
          <a href="#" class="btn btn-warning">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t39.30808-6/445027231_18238366156267314_3328676256760805651_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHq99keXK8inehqvCPP0_ittP32x5ryANS0_fbHmvIA1BJFHPgZoyt2q2GuOEmCVMR5xsnpvvUy8bPcgdSNAgc6&_nc_ohc=Ln5Lsqi86nAQ7kNvgEuLFea&_nc_ht=scontent-bkk1-1.xx&oh=00_AYAKDeL2B0B8FE9CvFnYKg9A-v_j9FtI69705yeD0mIo6w&oe=66C1147D" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">Few Kittinan</h5>
          <p class="card-text">FACEBOOK</p>
          <a href="#" class="btn btn-primary">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t39.30808-6/454647517_18246271501267314_6855849027289994021_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHbZpNmAX17imnB46QemEIkq1WLqya6tT6rVYurJrq1Pnmio2DUcA1LTDqJpKN9SCOkL7Im_5LJxyBWDLUIg1Lq&_nc_ohc=3Ecp0ci7cOkQ7kNvgFOKBFF&_nc_ht=scontent-bkk1-1.xx&oh=00_AYDN48tc7hYSB783wpEUIOOp55UA1t6CGbug5CMwnlb0gQ&oe=66C0FDB7" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">Few Kittinan</h5>
          <p class="card-text">TIKTOK</p>
          <a href="#" class="btn btn-dark">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t39.30808-6/428704547_18227853106267314_1856317644927284912_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGexMdwSaPMbxg20Y1wC19BdiY7DdIwrRN2JjsN0jCtE_uerj4i6XHnLtni48a4QfDH3kbYe9LpWRd35nLcoE-H&_nc_ohc=VL3YbzMBKhYQ7kNvgEDoxoi&_nc_ht=scontent-bkk1-1.xx&oh=00_AYDi0r7hojTCDu1V6EkiwJ1s5YzSvzUuezYTIKOaatgBGQ&oe=66C11E74" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">Few Kittinan</h5>
          <p class="card-text">YOUTUBE</p>
          <a href="#" class="btn btn-danger">วาร์ป</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock contant %}