{% extends "base.html" %}
<!---->
{% block contant %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">OO</th>
        <th scope="col">TITLE</th>
        <th scope="col">Handle</th>
        <th scope="col">lorem</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>Kittinan</td>
        <td>Garfiw</td>
        <td>Singer</td>
        <td>boyband</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock contant %}
